.logoutDiv{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 6em;
}
.logoutButton{
    margin: 10px;
    width: 8em;
    height: 3em;
    border-radius: 10px;
    margin-right: 6em;
    background-color: ivory;
}
