.questionTextArea{
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;   
}
.questionTextButton{
    width: 8em;
    height: 4em;
    border-radius: 10px;
    margin-top: 2em;
    background-color: ivory;
}

.questionForm{
    height: 15em;
    width: 65em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
