
.questionText{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.questionDiv{
    /* height: 6em; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #CDE7F0;
    outline: 2px solid black;
    border-radius: 10px;
}
.questionForm{
    width: 75em;
    height: 15em;
}
.questionHeaderText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1em;
    font-size: 2em;
    display: inline;
    background-color: lightskyblue;
    text-align: left;
    /* outline: 2px solid black; */
}
.responseTextArea{
    height: 163px;
    width: 825px;
    /* margin-top: 3em; */
    border-radius: 10px;
}
.wholeResponseDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fill;
    background-color: lightskyblue;
}
.responseHeaderText{
    text-align: center;
    width: 825px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
    font-weight: bold;
    overflow-y: scroll;
    height: 5em;
    padding-bottom: 1em;
    background-color: lightskyblue;
}
.replyButton{
    width: 10em;
    height: 3em;
    border-radius: 10px;
    margin-top: 1em;
    background-color: ivory;
    font-weight: bold;
}
.listItem{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.5em;
    text-align: left;
    font-weight: lighter;
    background-color: ivory;
    border-radius: 10px;
    /* outline: 2px solid black; */
    margin: 0.5em 0px;
}
.responseH3Text{
    text-align: center;
    font-size: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: lightskyblue;
    display: block;
    padding-bottom: .25em;

}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.topHalf{
    display: flex;
    justify-content: center;
    align-items: center;
}
